.container {
    position:relative;
    
  }

  .flex-container {
    display: flex;
    background-color: white
    
  }
  
  .flex-container > div {
    background-color: white;
    margin: 10px;
    padding: 20px;
 
    
  }
  
.top-left {
    position:absolute;
    top: -20px;
    left: 8px;
    color: blue;
    font-size: 50px;
  }

.title {
    background-color:blue;
    color:white;
    text-align: center;
    font-size: 30px;
  }

nav a {
    text-decoration: none;
    display: block;
    width: 12rem;
    height: 2rem;
    margin: 8px;
    font-size: 22px;
    text-align: center;
    font-weight: bolder;
    background-color: blue;
    color: white;
    border-radius: 1rem;
    border-bottom: 4px solid black;
    padding: 10px;
  

 

  
  }
  

nav a:hover:not(.active) {
    background-color: #555;
    color: white;
  }

.subtitle {    
    text-decoration: underline;
  }

  #games {
    border-collapse: collapse;
    width: 100%;
  }
  
  #games td, #games th {
    border: 2px solid gray;
    padding: 8px;
  }
  
  #games th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: blue;
    color: white;
    text-align: center;
  }

.bottom-info{
   font-size: 20px;
}

.text-rules{
  text-align: center;
}


#text-rules{
  font-size: 18px;
  text-align: justify;
}

li:not(:last-child) {
  margin-bottom: 15px;
}


.container2 input{
  width: 250px;
  display: table
  
  
}

#address{
  width: 500px;
}

#radio_button input{
  display: inline-block;
  width: 50px;
}

#large{
  width: 200px;
}





